<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="js/bdDados.js">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Cadastro - Athena Shop</title>
</head>

<body>
    <header>
        <img src="img/logo-letreiro.png" alt="logo maior e texto Athena Shop" class="logo">
    </header>

    <main>
        <%
        let avisoErro = {nomeUsu:"", senhaUsu:"", emailUsu:""};
        let msgErro = {nomeUsu:"", senhaUsu:"", emailUsu:""};

        if (listaErros) {
            listaErros.errors.forEach(function(itemErro) {
                if (itemErro.param == "nomeUsu") {
                    avisoErro.nomeUsu = "erro";
                    msgErro.nomeUsu = itemErro.msg;
                }
        
                if (itemErro.param == "emailUsu") {
                    avisoErro.emailUsu = "erro";
                    msgErro.emailUsu = itemErro.msg;
                }

                if (itemErro.param == "senhaUsu") {
                    avisoErro.senhaUsu = "erro";
                    msgErro.senhaUsu = itemErro.msg;
                }
            });
        }
    %>


        <form action="/cadastrar" method="post">
            <h2 class="txt">Cadastrar</h2>
            <label for="nome"></label>
            <input type="text" name="nome" id="nome" value="<%= valors.nomeUsu %>" placeholder="Nome"
                class="<%= avisoErro.nomeUsu %>" required>
            <span>
                <%= msgErro.nomeUsu %>
            </span>
            <label for="email"></label>
            <input type="email" name="email" id="email" value="<%= valors.emailUsu %>" placeholder="E-mail"
                class="<%= avisoErro.emailUsu %>" required>
            <span>
                <%= msgErro.emailUsu %>
            </span>
            <label for="senha"></label>
            <input type="password" name="senha" id="senha" value="<%= valors.senhaUsu %>" placeholder="Senha"
                class="<%= avisoErro.senhaUsu %>" required>
            <span>
                <%= msgErro.senhaUsu %>
            </span>
            <div id="checkbox-d">
                <input type="checkbox" name="Lembrar" class="checkbox-dd">
                <h4 id="h5-c">Lembrar conta</h4>
            </div>
            <div class="button">
                <div class="button-logar">
                    <button onclick="window.location='/login' " type="button" id="button-login">Logar</button>
                </div>
                <div class="button-cadastro">
                    <button type="submit" id="button-home">Cadastrar</button>
                </div>
            </div>
        </form>
        </div>

        </div>
        </div>

    </main>
</body>

</html>
