<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="js/bdDados.js">

    <link rel="shortcut icon" href="img/logo-icon.png" type="image/x-icon">

    <title>Login - Athena Shop</title>

</head>

<body>
    <header>

            <img src="img/logo-letreiro.png" alt="logo" class="logo">

    </header>

    <main>
        <% 
     
        let avisoErro = {"temail":"", "tsenha":""};
        let msgErro = {"temail":"", "tsenha":""};
            if(listaErros){
                listaErros.errors.forEach(function(itemErro){
                    if(itemErro.path == "temail"){
                        avisoErro.temail = "erro";
                        msgErro.temail = itemErro.msg;
                    }
                    if(itemErro.path == "tsenha"){
                        avisoErro.tsenha = "erro";
                        msgErro.tsenha = itemErro.msg;
                    }
                })
            }
    %>
        <form action="/login" method="post">
            <div id="d-login">
                <h2>Entrar</h2>

                <label for="t-email"></label>
                <input type="email" name="t-email" id="t-email" value="<%= valores.temail %>"
                    placeholder="E-mail" class="<%= avisoErro.temail%>" required>
                <span>
                    <%= msgErro.temail %>
                </span>

                <label for="t-senha"></label>
                <input type="password" name="t-senha" id="t-senha" value="<%= valores.tsenha %>"
                    placeholder="Senha" class="<%= avisoErro.tsenha %>" required>
                <span>
                    <%= msgErro.tsenha %>
                </span>

                <a href="">
                    <h5 id="senha-ex">Esqueci a senha</h5>
                </a>

                <div id="checkbox-d">
                    <input type="checkbox" name="Lembrar" class="checkbox-dd">
                    <h4 id="h5-c">Lembrar conta</h4>
                </div>


                <div class="button">

                    <div class="button-cadastro">

                        <button onclick="window.location = '/cadastro' " type="button" id="button-cadastro"> Cadastrar
                        </button>

                    </div>

                    <div class="button-logar">

                        <button type="submit" id="button-login"> Logar </button>

                    </div>
                </div>
            </div>
        </form>
    </main>
</body>

</html>